/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
html {
  scroll-behavior: smooth;
}

 
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e5c85;
  --ifm-color-primary-dark: #295278;
  --ifm-color-primary-darker: #274d71;
  --ifm-color-primary-darkest: #20405d;
  --ifm-color-primary-light: #336692;
  --ifm-color-primary-lighter: #356b99;
  --ifm-color-primary-lightest: #3c77ad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4fa5e3;
  --ifm-color-primary-dark: #3293da;
  --ifm-color-primary-darker: #298cd7;
  --ifm-color-primary-darkest: #257ec2;
  --ifm-color-primary-light: #69b4e7;
  --ifm-color-primary-lighter: #76baea;
  --ifm-color-primary-lightest: #9ecbed;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
